<nav>
    <ul>
        {{#each this}}
        {{#if this.current}}
        <li class="active"><a href="{{this.link}}">{{this.name}}</a></li>
        {{else}}
        <li><a href="{{this.link}}">{{this.name}}</a></li>
        {{/if}}
        {{/each}}
    </ul>
</nav>